.myicon {
    font-family:"myicon" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-duigou:before { content: "\e698"; }
  
  .icon-iconfontduigou:before { content: "\e613"; }
  
  .icon-xiangqu:before { content: "\e64c"; }
  
  .icon-geren:before { content: "\e657"; }
  
  .icon-zan:before { content: "\e677"; }
  
  .icon-tupian:before { content: "\e67f"; }
  
  .icon-gouwu:before { content: "\e680"; }
  
  .icon-shanchu:before { content: "\e68e"; }
  
  .icon-shezhi:before { content: "\e68f"; }
  
  .icon-shouji:before { content: "\e692"; }
  
  .icon-sousuo:before { content: "\e693"; }
  
  .icon-radiobutton:before { content: "\e6a7"; }
  
  .icon-xitongcaidan:before { content: "\e6b7"; }
  
  .icon-shouqi:before { content: "\e6b8"; }
  
  .icon-xiala:before { content: "\e6b9"; }
  
  .icon-geren2:before { content: "\e6bc"; }
  
  .icon-shoucangfill:before { content: "\e6c9"; }
  
  .icon-shouyefill:before { content: "\e6ca"; }
  
  .icon-shouye:before { content: "\e6cb"; }
  
  .icon-tixing:before { content: "\e6cc"; }
  
  .icon-zanfill:before { content: "\e6ce"; }
  
  .icon-roundadd:before { content: "\e6d0"; }
  
  .icon-roundclosefill:before { content: "\e6d1"; }
  
  .icon-dangdi:before { content: "\e6d7"; }
  
  .icon-tabshouqi:before { content: "\e6db"; }
  
  .icon-tabxiala:before { content: "\e6dc"; }
  
  .icon-zengjia:before { content: "\e6ea"; }
  
  .icon-radiobutton2:before { content: "\e6ee"; }
  
  .icon-duigou1:before { content: "\e614"; }
  
  .icon-duigou2:before { content: "\e640"; }
  
  .icon-fenxiang11:before { content: "\e608"; }
  
  .icon-yuanquan:before { content: "\e60c"; }
  
  .icon-guanbi:before { content: "\e6a0"; }
  
  .icon-fanhui:before { content: "\e600"; }
  
  .icon-cart:before { content: "\e601"; }
  
  .icon-gouwuche1:before { content: "\e60a"; }
  
  